<header class="header">
  <div class="header-left">
    <a href="/" class="logo">
      <img src="/assets/arrow.svg" alt="Logo" />
      <span>UPM</span>
    </a>
  </div>
  <nav class="nav">
    <ul
      style="
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        height: 100%;
      "
    >
      <% if (user && user.approvalLevel === 4) { %>
      <li>
        <a
          href="/admin"
          class="nav-link"
          style="background: #a7abaf; color: #fff"
          >Go Back</a
        >
      </li>
      <% } else { %>
      <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
      <li><a href="/meeting-minutes" class="nav-link">Meetings</a></li>
      <li><a href="/spendings" class="nav-link">Spendings</a></li>
      <li><a href="/vault" class="nav-link">Vault</a></li>
      <li><a href="/application-form" class="nav-link">New Application</a></li>
      <% } %>
      <li><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
  <div class="header-right">
    <!-- Optionally add user avatar or other right-aligned content here -->
  </div>
</header>
